.accordion-wrapper {
  max-width: 700px;
  background-color: #f7f8fc;

  font-family: $damsans;
  border-radius: 8px;


  .accordion-heading-wrapper {


    h3 {
      font-size: 18px;
      margin-bottom: 6px;
    }

    p {
      font-size: 14px;
    }
  }

  .accordion-heading {
    cursor: pointer;
    padding: 24px;
  }

  .accordion-body {
    padding: 24px 48px;
    font-size: 16px;


  }

}