.navbar {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
  background-color: #FFF8F3;
  box-shadow: 0 2px 4px 0 rgba(black, 0.2);
}

.navbar-links {
  display: flex;
  font-size: 16px;
  list-style: none;
  font-family: $museo;
  font-weight: 500;

  a {
    text-decoration: none;
    color: $color-black;
    padding: 24px 16px;

  }

  a:hover {
    color: $color-white;
    padding: 24px 16px;
    background-color: $color-primary;
  }
}
